[Unit]
Description=TPL tp-w9970 autorestart
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=2

[Service]
Type=simple
Restart=always
RestartSec=1
User=rock
ExecStart=/opt/app/tpl-td-w9970/tpl-td-w9970.service.sh

[Install]
WantedBy=multi-user.target
